
/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


table,td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  td {
    background-color: #99ebff;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  #texttyping{
    color:aqua;
    font-size: 30px;
    font-weight: 600;
  }

  button {
    background-color: aqua;
    color: black;
  }
  
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay button {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  

  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    
  }